body{
    display:flex;
    justify-content: center;
    margin-left: 120px;
    margin-right:120px;
    font-family: Calibri;
}

.container-fluid{
    width: 1300px;
}

.bg-none{
    background: none;
    border: none;
}

.bg-white{
    background-color: #fff;
}

.btn-primary{
    background-color: #292B35 !important;
    color:#fff;
    border: none;
}

.texto-primary{
    color:#292B35;
}

.rojo-etiqueta{
    background-color: #953F36;
    color: #fff;
}

.amarillo-estrella{
    background-color: #959336;
}

.gris-logo{
    background-color: #dbdbdd;
}

.gris-footer{
  background-color: #4a4c57;
}

.gris-background{
    background-color: #b2b2b2;
}

.gris-carousel-background{
    background-color: #474c55;
}

.gris-claro{
    background-color: #bcbcbc;
}

.gris-oscuro{
    background-color:#272c33;
}

.azul-breadcrumbs {
    background-color: #7c88a9;
}

.texto-azul-breadcrumbs {
    color: #7c88a9;
}

.texto-azul-secundario{
    color:#2E3566;
}

.texto-gris-oscuro{
    color:#272c33 !important;
}

.texto-gris-claro{
    color:#bcbcbc;
}

.texto-gris-claro2{
    color: #e3e3e3;
}

.texto-estrella {
    color:#959336;
}
a.active{
    background-color:#bcbcbc;
    color:#272c33;
}

.breadcrumb-item a {
    letter-spacing: 2px;
    text-decoration: none;
}

.Lato{
    font-family: Lato;
}

.badge-offer, .badge-category {
    display: flex;
    height: 30px;
    position: absolute;
    border-radius: 0;
    align-items: center;
    font-size: 22px;
    font-family: Lato;
}

.badge-items{
    font-size: 9px;
    border-radius: 20px;
    padding: 8px;
    position: relative;
    top: -21px;
    left: -8px;
    font-weight: bolder;
}

.badge-category{
    background-color:#000000;
    color: #fff;
    place-self: flex-end;
}

.price {
    font-size: 30px;
    font-family: Lato;
    font-weight: bolder;
}

main {
    background-color: #363636;
}

.carousel-inner {
    width: 100%;
    height: 340px;
}

.underline{
    font-size: 25px;
    text-decoration: line-through;
}

#navbar-menu{
    display: flex;
}

.dropdown-menu{
    font-size: 1em;
}

.publi img{
    max-width: 347px;
    width: 113%;
}

.beneficios, .nosotros {
    width: 100%;
    min-height: 250px;
    margin: 0 auto;
}

.card img {
    /*max-width: 250px;*/
    min-height: 250px;
    max-height: 252px;
}

.icono-beneficios{
    font-size: 6em;
}

.card-body ul {
    list-style: none;
}

.suscribete {
    margin: 0 !important;
    display: flex;
    width: 259px;
    height: 50px;
}

.suscribete button{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border:none;
    padding: 14px;
}

.suscribete input{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
    padding: 5px;
}

#myMap { height: 180px; }

footer{
    width: 100%;
    height: 60px;
}

footer .cards{
    place-self: flex-end;
}

/* Categorias / Productos */

.titulo-producto{
    display: flex;
    position: absolute;
    padding: 1px;
    background-color: #4b505836;
    line-height: 229px;
    width: 92%;
    margin: 10px;
    justify-content: center;
}

.titulo-producto a{
    text-decoration: none;
}

.card{
    border: 1px solid #474c55;
}


#logos img{
    max-width: 200px;
    margin-left: 40px;
    filter: brightness(0) invert(1);
}

/*
    Subcategoria
 */

.publi-h{
    width: 99%;
    background-color: #fff;
    height: 110px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#product-title-size-container  {
    width: 100%;
}

#filtro-vertical{
    max-height: 570px;
}

#filtro-horizontal{
    justify-content: space-between;
}

#filtro-horizontal select{
    padding: 10px;
    width: 330px;
}

.paginacion a{
    background-color: #dddddd;
    color: #000;
    padding: 12px;
    border-radius: 2px;
    margin: 2px;
}

.paginacion a:hover, .paginacion a.active{
    background-color: #7c88a9;
    color:#fff;
    cursor: pointer;
}

.border-radius{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.badge-flag{
    font-size: 16px;
    padding: 22px;
}

div.img-responsive{
    height: 250px;
    background-size: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.canvas-img{
    width: 300px;
    height: 300px;
}

.canvas-img:hover{
    cursor: pointer;
}

#contenedor-fab-mod{
    font-size: 24px;
    height: 100px;
}

#contenedor-fab-mod span{
    color:#000;
    margin-left: 10px;
    font-size: 0.9em;
}

#contenedor-fab-mod p {
    margin-bottom: -2px;
}

#contenedor-cant-precio{
    margin-top: -50px;
}

#input-cantidad{
    width: 70px;
    height: 70px;
    boder: none;
    font-size: 3em;
    text-align: center;
}

#controlador-cantidad button{
    font-size: 1.3em;
}

#producto-precio h1{
    font-size: 3em;
}

#contenedor-cant-precio button:hover{
    cursor: pointer;
}

#carousel-imagenes-miniatura a{
    padding: 20px;
    margin: 4px;
}

#carousel-imagenes-miniatura a.control{
    width:10px !important;
}

#carousel-imagenes-miniatura a.control:hover{
    cursor: pointer;
}

#carousel-imagenes-miniatura a.miniatura-img{
    -webkit-background-size: contain !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 80px;
    height: 70px;
}

#valoraciones-producto{
    height: 200px;
}

#valoraciones-header{
    height: 70px;
}

#valoraciones-header ul{
    justify-content: space-around;
}

#valoraciones-header ul li{
    margin: 20px;
    list-style: none;
    font-size: 1.3em;
}

#valoraciones-header ul li.active{
    background-color: rgba(221, 221, 221, 0.23);
    color:#fff;
    padding: 20px;
    margin: 0;
}

#valoraciones-header ul li:hover{
    background-color: rgba(221, 221, 221, 0.23);
    color:#fff;
    padding: 20px;
    margin: 0;
    cursor: pointer;
}

.control-input-carrito input{
    width: 50px;
    text-align: center;
}

.contenedor-control-input button {
    border: 2px solid #333b66;
    margin:4px;
    font-size: 1.3em;
}

.border-none{
    border:none !important;
}

table thead tr{
    background-color: #cecaca;
    color: #474c55;
    border: 1px solid #b1b1b1 !important;
}

table thead tr th{
    background-color: #cecaca;
    color: #474c55;
    border: 1px solid #b1b1b1 !important;
}

table tbody tr{
    background-color: #dddddd;
    border: 1px solid #b1b1b1 !important;
}

table tbody tr td{
    border: 1px solid #b1b1b1 !important;
    height: 80px;
}


table tbody tr td .miniatura-img {
    width: 80px;
    height: 80px;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.td-cupon{
    height: 200px;
}

.td-item-tabla {
    height: 80px;
}

#input-codigo-promocional input,  #input-codigo-promocional button{
    background-color: #dddddd;
    border: 1px solid #bcbcbc;
}

.td-fake {
    width: 100%;
    border-bottom: 1px solid #b1b1b1;
    text-align: right;
    padding: 5px;
}

.stockbar{
    height: 80px;
}

i.fa-trash{
    font-size: 1.6em;
}

i.fa-trash:hover{
    cursor: pointer;
    font-size: 1.8em;
}

.navbar i.fa-shopping-cart {
    cursor: pointer;
}

.login-body div.container-fluid {
    min-height: 600px;
}

/** Login **/
#login-form {
    width: 400px;
}

#mostrar-password:hover {
    cursor: pointer;
}

#contenedor-login {
    position: relative;
    top: -8px;
}

.pointer {
    cursor: pointer;
}